*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  background-color: var(--red);
  background-image: url(/Assets/Images/bg-intro-desktop.png);
}

h1,
p {
  font-family: "Poppins";
  color: white;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width:80%;
  padding-top: 80px;
  margin: 0 auto;
}

.free-trial {
  text-align: center;
  font-weight: 500;
  width: 100%;
  padding: 3px;
  margin-bottom: 20px;
  background-color: var(--blue);
  border-radius: 8px;
  box-shadow: 0 8px 2px 0px hsla(249, 10%, 26%, 0.3);
}

form {
  background-color: white;
  place-items: center;
  text-align: center;
  justify-content:space-evenly;
  margin-top:5px;
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 8px 2px 0px hsla(249, 10%, 26%, 0.3);
}

input {
  box-sizing: border-box;
  border: 2px solid var(--grayish-blue);
  border-radius: 5px;
  padding: 15px 10px;
  width: 100%;
  margin-top: 1rem;
  padding-left: 1rem;
  text-decoration: solid;
  font-weight: 700;
}

input:focus {
  outline: 2;
  border: 1px solid var(--dark-blue);
}

::-webkit-input-placeholder {
  color: rgb(96, 94, 104);
}

button {
  background-color: var(--green);
  color: whitesmoke;
  text-decoration: solid;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 2px 0px var(--green);
  transition: all 0.1s ease;
}

.terms-service {
  color: var(--grayish-blue);
  font-weight: 300;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: var(--red);
}

a:hover {
  color: var(--grayish-blue);
}

/* This is the style of our error messages */
.error {
  padding: 8px;
  font-size: 80%;
  color:red;
  text-align:right;
}

.error.active {
  padding: 0.3em;
}

.failure-icon{
  color:red;
  right:0;
  position: absolute;
  padding: 30px 20px;
  opacity:0;
}

form > div {
  position: relative;
}

/*styles for small devices*/
@media only screen and (max-width: 800px) {
  body {
    background-image: url(/Assets/Images/bg-intro-mobile.png);
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  .main-container{
    display:flex;
    flex-direction: column;
  }
  .heading{
    text-align:center;
    
  }

  h1{
    font-weight:700;
    font-size: 2rem;
  }
}
